body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('evgeni-evgeniev-LPKk3wtkC-g-unsplash.jpeg'); /* Reemplaza con la ruta de tu imagen */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


.attendance-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.label, input, select {
    display: block;
    width: 100%;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.attendance-list {
    margin-top: 30px;
    text-align: left;
}

.attendance-list h3 {
    margin-bottom: 15px;
    color: #333;
}

.attendance-list ul {
    list-style-type: none;
    padding: 0;
}

.attendance-list li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border-left: 5px solid #007bff;
}
