nav {
    display: flex;
    margin-left: 300px;
    margin-top: 100px;
    width: 400px;
    height: 600px;
    background-image: url(vecteezy_verde-tierra-y-un-arbol-para-tierra-dia-en-contra-un-blanco_31596438.jpg);
    background-size: cover;
}
#uno {
    width: 80%;
    height: 100%;
    float: left;
}
#titulo {
    margin-top: 20px;
    margin-left: 50px;
    width: 90%;
    height: 10%;
    float: left;
    background: rgba(63, 251, 63, 0.558);
}
h2 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:white;
}
#dos, #tres, #cuatro {
    margin-top: 60px;
    margin-left: 50px;
    width: 90%;
    height: 10%;
    float: left;
}
#dos1, #tres1, #cuatro1 {
    width: 100%;
    height: 100%;
    background: rgba(3, 138, 3, 0.678);
   
    color: white;
}
